@media only screen and (max-width: 750px) {
    div#projetos a img, div#projetos a h5 {
        display: none;
    }

}

#filtro{
    display: grid;
    gap: 15px;
    place-items: center;
    margin: 30px 0;
}

#filtro div{
    border-top: 1px solid brown;
    padding: 10px;
}

#filtro button + button{
    margin: 0 15px;
}

#filtro button:disabled{
    background-color: rgb(90, 24, 24);
    cursor: not-allowed;
}

#filtro button:disabled:active{
    background-color: rgb(90, 24, 24);
}

#filtro button{
    padding: 5px;
    font-weight: bold;
    border-radius: 99px;
    background-color: brown;
    border: none;
}

#filtro button:active{
    background-color: rgb(90, 24, 24);
}

#filtro button::selection{
    background-color: transparent;
}

#titulo{
    margin: 130px 0 0 0;
    display: grid;
    place-items: center;
}

#projetos a:hover{
    padding: 15px;
    border: 2px solid white;
    transition: 2.5s;  
}

#projetos a:hover img, #projetos a:hover h5{
    display: flex;
    max-width: 100%;
}

#projetos{
    margin: 25px 0 0 0;
    display: grid;
}

#projetos a{
    border: 2px solid brown;
    text-decoration: none;
    text-align: center;
    border-radius: 1%;
    margin: 25px;
    display: grid;
    gap: 15px;
    padding: 15px;
    transition: 2.5s;
    place-items: center;
}

#projetos h3{
    font-size: larger;
}

#projetos h5 {
    font-size: smaller;
    font-style: normal;
}

#projetos p{
    font-size: small;
}


