@media only screen and (max-width: 750px) {
    #apresent img{
        display: none;
    }

    div.r{
        margin: 0;
    }

    
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: #ff4a57;
}

a{
    text-decoration: none;
}

#resume1{
    margin: 130px 0 0 25px;
}

#apresent {
    display: flex;
}

#apresent img{
    float: left;
}

#name{
    margin: 40px;
}

.t{
    margin: 20px;
    display: flex;
}

.info{
    margin-left: 20px;
}

.info button{
    margin-top: 10px;
    padding: 5px;
    border-radius: 99px;
    border: none;
    background-color: brown;

    & .link-img{
        width: 14px;
        margin-left: 5px;
        background-color: brown;
    }

}

.info button:active{
    background-color: rgb(90, 24, 24);

    & .link-img{
        background-color: rgb(90, 24, 24);
    }
}

.info h3{
    font-size: medium;
}

.info p{
    font-size: small;
}

.r{
    margin: 75px 0 0 100px;
}

img.company::selection{
    background-color: #ff4a57;
}

.company{
    width: 50px;
    height: 50px;
    border: #ff4a57 1px solid;
}

.link-img::selection{
    background-color: transparent;
}